<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.welldone.collect.mapperservice.report.ReportClusterMapper" >
  <resultMap id="BaseResultMap" type="cn.welldone.collect.po.report.ReportCluster" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
    <result column="report_id" property="reportId" jdbcType="INTEGER" />
    <result column="report_cluster" property="reportCluster" jdbcType="INTEGER" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="extra" property="extra" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from report_cluster
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.welldone.collect.po.report.ReportCluster" >
    insert into report_cluster (id, task_id, report_id,
      report_cluster, intro, status, 
      extra)
    values (#{id,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{reportId,jdbcType=INTEGER},
      #{reportCluster,jdbcType=INTEGER}, #{intro,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{extra,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.welldone.collect.po.report.ReportCluster" >
    update report_cluster
    set task_id = #{taskId,jdbcType=INTEGER},
      report_id = #{reportId,jdbcType=INTEGER},
      report_cluster = #{reportCluster,jdbcType=INTEGER},
      intro = #{intro,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      extra = #{extra,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, task_id, report_id, report_cluster, intro, status, extra
    from report_cluster
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, task_id, report_id, report_cluster, intro, status, extra
    from report_cluster
  </select>
  <select id="selectByTaskId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, task_id, report_id, report_cluster, intro, status, extra
    from report_cluster
    where task_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByTaskIdAndCluster" resultMap="BaseResultMap">
    select id, task_id, report_id, report_cluster, intro, status, extra
    from report_cluster
    where task_id = #{taskId,jdbcType=INTEGER}
    and report_cluster=#{cluster,jdbcType=INTEGER}
  </select>
  <select id="selectByReportId" resultType="cn.welldone.collect.po.report.ReportCluster">
    select id, task_id, report_id, report_cluster, intro, status, extra
    from report_cluster
    where report_id = #{reportId,jdbcType=INTEGER}
  </select>
</mapper>